.chat-tab {
  float: left;
  background-color: gray;
  padding: 3px;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes tabColorSwitch {
  0% {background-color: lightskyblue;}
  67% {background-color: orange;}
  100% {background-color: red;}
}

.chat-tab.unresponded {
  background-color: lightskyblue;
  font-weight: bold;
  animation-name: tabColorSwitch;
  animation-duration: 900s;
}

.chat-tab.inactive-chat {
  font-style: italic;
  color: lightgray;
}

.chat-tab.requires-action {
  background-color: red;
  font-weight: bold;
}

#chat-tab-bar {
  overflow: scroll;
}

.tracker {
  border: 1px solid white;
  background-color: white;
  text-align: center;
  color: blue;
  padding: 1px;
  font-size: 70%;
}

.close-tab:hover {
  color: red;
}

.close-tab {
  margin: 5px 5px 5px 1px;
}

#js--region-main.site-main {
  overflow-y: hidden;
}