.chat-tab {
  float: left;
  background-color: gray;
  padding: 3px;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes tabColorSwitch {
  0% {background-color: lightskyblue;}
  67% {background-color: orange;}
  100% {background-color: red;}
}

.chat-tab.unresponded {
  background-color: lightskyblue;
  font-weight: bold;
  animation-name: tabColorSwitch;
  animation-duration: 900s;
}

.chat-tab.inactive-chat {
  font-style: italic;
  color: lightgray;
}

.chat-tab.requires-action {
  background-color: red;
  font-weight: bold;
}

#chat-tab-bar {
  overflow: scroll;
}

.tracker {
  border: 1px solid white;
  background-color: white;
  text-align: center;
  color: blue;
  padding: 1px;
  font-size: 70%;
}

.close-tab:hover {
  color: red;
}

.close-tab {
  margin: 5px 5px 5px 1px;
}

@keyframes present {
  0% {transform: translateX(-150%) rotate(2deg);} 
  92% {transform: translateX(1%) rotate(0deg);}
  100% {transform: translateX(0%);}
}

.update-notice {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 1%;
  margin-left: 1%;
  z-index: 10;
  width: 25%;
  height: 10%;
  opacity: 0.92;
  background-color: #6c7298;
  color: white;
  text-align: center;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  animation-name: present;
  animation-duration: 2s;
}

.update-notice h1 {
  margin-top: 4%;
  margin-bottom: 5%;
  text-decoration: underline;
}

.update-notice span {
  position: relative;
  right: 3%;
  top: 1%;
  float: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

#resource-popup{
  z-index: 20;
  position: fixed;
  width: 33%;
  top: 10%;
  background-color: white;
  height: 90%;
  overflow: scroll;
  border: 1px solid #888888;
/*  box-shadow: 2px 3px #888888;*/
}

#resource-popup span.close{
  position: relative;
  float: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
  right: 6px;
}

#resource-table {
  border-spacing: 10px;
  border-collapse: separate;
  text-align: center;
}

#add-resource{
  position: fixed;
  width: inherit;
  bottom: 0;
}

#js--region-main.site-main {
  overflow-y: hidden;
}

#new-resource-form  {
  padding-top: 15px;
  text-align: center;
  border: 3px solid black;
}

#new-resource-form input,  #new-resource-form select {
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin-bottom: 10px;
   /* font-size: 50%;*/
}

#new-resource-form select { 
  width: 183px;
  border-radius: 0px
}

#new-resource-form .button {
  border-radius: 0px;
  border: none;
  padding: 10px;
}

#new-resource-errors {
  margin-bottom: 15px;
}

#new-resource-errors p {
  font-weight: bold;
}

#new-resource-errors ul {
  list-style-type: circle;
  color: red;
}